/* vis2.css, to add styling to visualization2.py */

/* Clamp, horizontal content */
.centered-content {
    width: 85%; /* Clamp to 85% width */
    margin: 0 auto; /* Center the div horizontally */
    text-align: left;
}

.markdown-content {
    font-size: 20px;
    line-height: 1.4;
}

h1 {
    text-align: center;
}

.map-container {
    max-width: 100%;
    width: auto;
    height: 550px;
    text-align: center;
    overflow: hidden;
}

.map-container .dash-graph {
    width: 100%;
    height: auto;
}

.centered-image-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-image {
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
}

.tabs-content div:not(.active) {
    visibility: hidden;
    position: absolute;
}

.tabs-content div.active {
    visibility: visible;
    position: relative;
}

/* Target the tab-container and its children, had trouble with js overriding so needed to be specific*/
.tab-container .tab.tabs-title {
    font-size: 18px;
    padding: 12px 12px;
    margin: 0;
    line-height: 1.4; /* Comfortable vertical spacing */
    display: inline-block;
    text-align: center;
    height: auto;
}

/* Styling for the 'selected/active' tab */
.tab-container .tab.tabs-title.tab--selected {
    background-color: #eaeaea;
    font-weight: bold; /* Emphasize the selected tab */
    padding: 12px 12px;
    border-radius: 4px;
}




.tabs-content {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.information-tables {
    border: 1px solid black;
    justify-content: center;
    border-collapse: collapse;
    width: 100%;
    align-items: center;
}

.tables-container {
    display: flex;
    justify-content: space-between; /* Space out the tables horizontally */
    align-items: flex-start; /* Align the tables to the top */
    padding: 20px; /* Add some padding */ }

.charts-container { display: flex; flex-direction: row; gap: 20px; margin: 20px; }

.dropdown {
    width: 90%;
    margin: 0 auto 20px auto;
    display: block;
}

.heatmap-checklist-container {
    display: flex;
    flex-direction: row; /* Place heatmap and checklist side by side */
    align-items: flex-start; /* Align to the top */
    width: 100%; /* Ensure it spans the width of the parent */
    padding: 20px; /* Add spacing around the container */
}

.heatmap-container {
    width: 70%; /* Set width for heatmap */
    margin-right: 5px; /* Add space between heatmap and checklist */
}

.checklist-container {
    width: 25%; /* Set width for checklist */
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
/* Ensure checklist items are in a column */

